.toast.success {
  background: #c3ffc5
}
.toast.info {
  background: #ffdfc3
}
.toast.error {
  background: #ffc3c3
}
pre {
  background: #e4e4e4;
  padding: 1rem;
  border-left: 5px solid #212529;
}
#form-preview {
  flex: 1
}
.form-control.error {
  border-color: #b71717;
  box-shadow: 0px 0px 2px #ca0505;
}
.input-error {
  color: #b33535;
  font-size: .8em;
  font-weight: 600;
}
label small {
  font-weight: 800;
  color: #b33535;
}